# ===== ENVIRONMENT =====
ENVIRONMENT=


# ===== BASE DE DATOS - DESARROLLO =====
DB_HOST_DEV=
DB_PORT_DEV=
DB_NAME_DEV=
DB_USER_DEV=
DB_PASSWORD_DEV=

# ===== BASE DE DATOS - PRODUCCIÓN =====
DB_HOST_PROD=
DB_PORT_PROD=
DB_NAME_PROD=
DB_USER_PROD=
DB_PASSWORD_PROD=

# Configuración de la aplicación
DEBUG= 
PORT=